libs/domain/fiscal/infrastructure/src/lib/schemas/dian-ubl-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Simplified UBL 2.1 Schema for Validation Purposes
  This schema enforces the presence of critical UBL invoice fields,
  replacing the previous wildcard mock.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2"
           xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
           xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
           targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2"
           elementFormDefault="qualified">

  <xs:element name="Invoice">
    <xs:complexType>
      <xs:sequence>
        <!-- Standard UBL Headers -->
        <xs:element name="UBLVersionID" type="xs:string" fixed="UBL 2.1" minOccurs="1"/>
        <xs:element name="CustomizationID" type="xs:string" minOccurs="1"/>
        <xs:element name="ProfileID" type="xs:string" minOccurs="1"/>
        <xs:element name="ID" type="xs:string" minOccurs="1"/>
        <xs:element name="UUID" type="xs:string" minOccurs="1"/>
        <xs:element name="IssueDate" type="xs:date" minOccurs="1"/>
        <xs:element name="IssueTime" type="xs:time" minOccurs="1"/>
        <xs:element name="InvoiceTypeCode" type="xs:string" minOccurs="1"/>
        <xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="DocumentCurrencyCode" type="xs:string" minOccurs="1"/>

        <!-- Parties -->
        <xs:element name="AccountingSupplierParty" minOccurs="1">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="Party" minOccurs="1">
                 <xs:complexType>
                   <xs:sequence>
                      <xs:element name="PartyTaxScheme" minOccurs="1">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="RegistrationName" type="xs:string"/>
                            <xs:element name="CompanyID" type="xs:string"/>
                            <xs:element name="TaxScheme" minOccurs="1"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                   </xs:sequence>
                 </xs:complexType>
               </xs:element>
             </xs:sequence>
           </xs:complexType>
        </xs:element>

        <xs:element name="AccountingCustomerParty" minOccurs="1">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="Party" minOccurs="1">
                 <xs:complexType>
                   <xs:sequence>
                      <xs:element name="PartyTaxScheme" minOccurs="1">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="RegistrationName" type="xs:string"/>
                            <xs:element name="CompanyID" type="xs:string"/>
                            <xs:element name="TaxScheme" minOccurs="1"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                   </xs:sequence>
                 </xs:complexType>
               </xs:element>
             </xs:sequence>
           </xs:complexType>
        </xs:element>

        <!-- Totals -->
        <xs:element name="TaxTotal" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="TaxAmount" type="xs:decimal"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="LegalMonetaryTotal" minOccurs="1">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="LineExtensionAmount" type="xs:decimal"/>
                    <xs:element name="TaxExclusiveAmount" type="xs:decimal"/>
                    <xs:element name="TaxInclusiveAmount" type="xs:decimal"/>
                    <xs:element name="PayableAmount" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <!-- Lines -->
        <xs:element name="InvoiceLine" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="ID" type="xs:string"/>
                    <xs:element name="InvoicedQuantity" type="xs:decimal"/>
                    <xs:element name="LineExtensionAmount" type="xs:decimal"/>
                    <xs:element name="Item" minOccurs="1">
                         <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Description" type="xs:string"/>
                                <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                            </xs:sequence>
                         </xs:complexType>
                    </xs:element>
                    <xs:element name="Price" minOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="PriceAmount" type="xs:decimal"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
